body, textarea {
  font-family: Consolas;
  font-size: 1em;
  background-color: black;
}
h1 {
  font-family: Helvetica;
}
body {
  margin-top: 3em;
  margin-bottom: 15em;
  color: #bbb;
}

div.code, textarea {
  margin: 5px 30px;
}
  
div.code {
  white-space: pre-wrap;
}

div.example {
  display: none;
}

textarea {
  background-color: transparent;
  color: rgba(199, 34, 34, 0.42);
}

.on-top {
  position: relative;
}

.on-top textarea, .on-top .code {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border: 5px solid white;
  height: 640px;
  width: 860px;
  box-sizing: content-box;
  overflow-x: visible;
}

.code {
  overflow-y: scroll;
}
