body, textarea {
  font-family: Consolas;
  font-size: 1em;
  background-color: black;
}
body {
  margin-top: 3em;
  margin-bottom: 15em;
  color: #bbb;
}

div.code, textarea {
  margin: 5px 30px;
}
  
div.code {
  white-space: pre-wrap;
}

div.example {
  display: none;
}

textarea {
  color: white;
  padding: 5px;
  border: 5px solid white;
  height: 400px;
}
